@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import "tailwindcss";

#fontStyle{
  font-family: "Anton", serif;
}